body{
    font-family: 'Lato', sans-serif;
    margin: 0px;
    background: white;
}
.header{
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__img{
    width: 300px;
    margin-top: 25px;
    margin-left: 80px;
}
.navbar{
    position: absolute;
    top: 16px;
    right: 10px;
    height: auto;
    display: block;
    margin-right: 130px;
}
.navbar__ul{
    list-style: none;
    display: flex;
}
.navbar__ul li a{
    text-decoration: none;
    padding: 10px 10px 10px 10px;
    color: #4CB494;
    font-weight: bold;
}
.navbar button{
    justify-content: center;
    display: flex;
    font-size: 15px;
    font-weight: bold;
    background-color: #9D5903 ;
    color: white;
    border-radius: 10px;
    border: none;
    padding: 10px 20px 10px 20px;
    cursor: pointer;
}

.main__container{
    display: flex;
    justify-content: center;
    padding-top: 50px;
}
.main-item{
    position: relative;
    
}
.btnMorInfo{
    position:fixed;
    justify-content: center;
    display: flex;
    font-size: 20px;
    background-color: #9D5903 ;
    color: white;
    border-radius: 10px;
    margin-top: 450px;
    margin-left: 600px;
    padding: 10px 20px 10px 20px;
    text-shadow: none;
    border: none;
    font-weight: bold;
    cursor: pointer;
}
.txtPlansContainer{
    border-style: solid;
    text-align: center;
    margin-left: 30%;
    margin-right: 30%;
    background-color: #4CB494;
    color: white;
    border-radius: 20px;
}